{% extends "layouts/base_grant.html" %}
{% block content %}
    <div class="content" style="display:flex;flex-direction:column;justify-content:center;align-items:center;padding:15px;margin:0 auto;">
    
        <img src="/static/assets/images/person.png" alt="Айжан Аймбетова" style="width:128px;height:128px;border-radius:50%;">
        <h4>aimaizhan</h4>
        <p></p>
        <h4>Айжан Аимбетова & FinTEx</h4>
        <p>Представляют вам свои услуги:
        </p>
        <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="https://aimaizhan.kz" role="button">Марафон</a>
        <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="/authorized/consulting" role="button">Консультация</a>
        <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="/authorized/maintenance" role="button">Сопровождение</a>
       
    </div>
    {% endblock content %}
   
    