{% extends "layouts/base_grant.html" %}
{% block content %}
    <div class="content" style="display:flex;flex-direction:column;justify-content:center;align-items:center;padding:15px;margin:0 auto;">
    
        <img src="/static/assets/images/person.png" alt="Айжан Аймбетова" style="width:128px;height:128px;border-radius:50%;">
        <h4>aimaizhan</h4>
        <p></p>
        <h4>Оплата услуг FinTEx</h4>
        <p style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:black;">Курс Базовый - 29 990 тг.</p>
        <p style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:black;">Курс Премиум - 49 990 тг.</p>
        <p style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:black;">Консультация - 40 000 тг.</p>
        <p style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:black;">Cопровождение - от 350 000 тг.</p>
        <p></p>
        <p style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;color:black;">Оплатите и отправьте чек в WhatsApp чат с менеджером</p>

    <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="https://pay.kaspi.kz/pay/bgyqzizg" role="button">Kaspi RED и Kaspi Pay</a>
    <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="https://alfabank.kz/epos?partner=930421400613&point=02-7949-L3&lang=ru" role="button">Alfa рассрочка</a>
    <a class="btn btn-primary btn-lg" style="color:#fff;background-color:#04a9f5;border-color:#04a9f5;height:40px;width:300px;" href="https://api.whatsapp.com/send?phone=77759004059&text=Здравствуйте%2C%20сейчас%20отправлю%20чек" role="button">WhatsApp чат с менеджером</a>

       
    </div>
    {% endblock content %}
   
    