{% extends "layouts/base_grant.html" %}

    {% block content %}
    <div class="content" style="display:flex;flex-direction:column;justify-content:center;align-items:center;padding:15px;margin:0 auto;">
        <div class="profile__img"></div>
        <img src="/static/assets/images/person.png" alt="Айжан Аймбетова" style="width:128px;height:128px;border-radius:50%;">
        <h4>Заявка принята!</h4>
        <h4>Менеджер свяжется с вами!</h4>
       
       
    </div>
    {% endblock content %}
   
