{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <h5 style="text-align: center">Друзья, ссылки на шаблоны есть под видеоуроками. Так же давайте сюда продублирую. Весь раздаточный материал лежит <a href="https://drive.google.com/drive/folders/1gmTePB63C4U2WvV3n-7mhABCwmlYMIpI?usp=sharing"> здесь</a></h5>
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!--[ daily sales section ] start-->


                        <!--[ Monthly  sales section ] end-->
                        <!--[ year  sales section ] starts-->
                        <!--[ year  sales section ] end-->
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-12 col-md-12">
                            <h5 class="mb-3" style="color:red;">{{ message1 }}</h5>
                            <h5 class="mb-3" style="color:red;">{{ message2 }}</h5>
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>Конкурсы на грант</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Kazakhstan Digital Accelerator</h6>
                                                        <p class="m-0">QazTech Ventures</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до $50 000</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>до 31 ЯНВАРЯ</h6>
                                                    </td>
                                                
                                                    <td><a target="_blank" rel="noopener noreferrer" href="https://www.questventures.com/businesses/accelerate/kazakhstan-digital-accelerator/?fbclid=IwAR2uLVRaAiNF4z5HCLMsz9C8y7bScwoAe3SzhhEp2YBcKeIaswcCd6rf7tc" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                
                                                </tr>
                                
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Cisco Global Problem Solver Challenge</h6>
                                                        <p class="m-0">Cisco</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до $250 000</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 11 ФЕВРАЛЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://cisco.innovationchallenge.com/cisco-global-problem-solver-challenge-2022" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">ABC инкубатор</h6>
                                                        <p class="m-0">NURIS (Назарбаев Университет)</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до 3 500 000 тг.</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 13 ФЕВРАЛЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="http://nuris.nu.edu.kz/incubation2021#rec268719143" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Акселератор Сбера</h6>
                                                        <p class="m-0">СберБанк</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">Инвестиции</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 14 ФЕВРАЛЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://sberstudent.sberclass.ru/?utm_source=google&utm_medium=cpc&utm_campaign=sberstudent_sberclass_person_perform_frk_20211100089_context_search_general_rus%7C15721337417&utm_term=бизнес%20инкубатор&utm_content=ad%7C572025467745%7Cgid%7C130314583423%7Ctid%7Ckwd-298195788617%7Ccid%7C15721337417&gclid=CjwKCAiA3L6PBhBvEiwAINlJ9NnxexlINoIPHcnhUD5q9V5AC8F6Qc8f8XWuZEbkJ0KcyNKXrFTwERoC7TsQAvD_BwE" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">PwC Ventures</h6>
                                                        <p class="m-0">PwC</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до $2 000 000</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 18 ФЕВРАЛЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://www.pwc.ru/ru/services/pwc-russia-accelerator.html" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Startup Bolashak</h6>
                                                        <p class="m-0">Bolashak</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до 100 000 000 тг.</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 28 ФЕВРАЛЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://startup-bolashak.kz/ru?pm_source=%7Bsource%7D&pm_block=%7Bposition_type%7D&pm_position=%7Bposition%7D&utm_source=google&utm_medium=cpc&utm_campaign=cid%7C15673509492%7Cg&utm_content=gid%7C130294287326%7Caid%7C571513007476%7Ckwd-1566223341963_kwd-1566223341963&utm_term=конкурс%20startup&gclid=Cj0KCQiAubmPBhCyARIsAJWNpiNFKG_4QN5WwL0ruHMFo_qFQJYiG1wC07HAL7LieRNLaJhrfyq7pxQaAjaxEALw_wcB" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Субсидии от Москвы</h6>
                                                        <p class="m-0">Правительство Москвы</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до 10 000 000 р.</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>до 15 НОЯБРЯ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://mbm.mos.ru/article/dengi/subsidii/vse-subsidii-ot-moskvy-kak-ikh-poluchit_2016" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                
                                                <tr class="unread">
                                                    
                                                    <td>
                                                        <h6 class="mb-1">Построй свой бизнес</h6>
                                                        <p class="m-0">Саби</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="mb-1">до $100 000</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>ОСЕНЬ</h6>
                                                    </td>
                                                    
                                                    <td><a target="_blank" rel="noopener" href="https://entrepreneur.saby.kz/#conditionsBtn" class="label theme-bg text-white f-12">Подробнее</a></td>
                                                    

                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <!-- [ statistics year chart ] start -->
                        <!-- 
                        <div class="col-xl-4 col-md-6">

                            <div class="card">
                                <div class="card-block border-bottom">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-zap f-30 text-c-green"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">0</h3>
                                            <span class="d-block text-uppercase">гипотез проверено</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-auto">
                                            <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                        </div>
                                        <div class="col">
                                            <h3 class="f-w-300">0</h3>
                                            <span class="d-block text-uppercase">филиалов открыто</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- [ statistics year chart ] end -->


                    </div>
                    <!-- [ Main Content ] end -->
                </div>
                
            </div>
        </div>
    </div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
