{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Pass {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function(){
    $('#formEmail').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: "/sendCode",
            type: "POST",
            data: ({email:$("#email").val()}),
            success: function(data){
                alert(data);
            },
            error: function(){
                alert("Form submission failed!");
            }
        });
    });
    $('#reset').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: "/chgPass",
            type: "POST",
            data: ({password:$("#newPassword").val(), code:$("#comfirmationCode").val(), email:$("#email").val()}),
            success: function(data){
                alert(data);
            },
            error: function(){
                alert("Form submission failed!");
            }
        });
    });
});

  </script>
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">Сброс пароля</h3>
                <form role="form" id="formEmail" method="post" action="">
                <div class="input-group mb-3">
                  <input type="email" id="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" class="form-control" placeholder="Email" required>
                    <div class="input-group-append">
                    <button type="submit" id="sendEmailCode" class="btn btn-outline-secondary">Отправить код</button>
                    </div>
                </div>
                </form>
                <form role="form" id="reset" method="post" action="">
                    <div class="input-group mb-3">
                 <input type="text" id="comfirmationCode" class="form-control" placeholder="Code" required>
                </div>
                      <div class="input-group mb-3">
                  <input type="password" id="newPassword" class="form-control" placeholder="Новый пароль" required>
                </div>
                    <button type="submit" name="reset_pswd" class="btn btn-primary shadow-2 mb-4">Сбросить пароль</button>
                <p class="mb-0 text-muted">Уже есть свой аккаунт? <a href="{{ url_for('base_blueprint.login') }}">Войти</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Код отправлен" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h5></h5>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
