{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10"></h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Наши тарифы</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Наши тарифы</h5>
                                </div>
                                <div class="row">
                                    <!--
                                    <div class="col-sm-12">
                                         
                                        <div class="alert alert-primary" role="alert">
                                            <p>Use our extra helper file for quick setup Basic Components in your page - <a href="index-bc-package.html" target="_blank" class="alert-link">CHECKOUT</a></p>
                                            <label class="text-muted">Copy/paste source code in your page in just couples of seconds.</label>
                                        </div>
                                    </div>
                                    [ card ] start -->
                                    <div class="col-md-6 col-xl-4">
                                        <h5>Дешевый</h5>
                                        <hr>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">30 000 тг</h5>
                                                8 уроков, и все. Так-то ты лох и бомж
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <h5>Средний</h5>
                                        <hr>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">80 000 тг</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">типа сабтайтл</h6>
                                                <p class="card-text">ну ты чуть менее лох. тут мы тебе дадим +бонус, конструкторы, поддержка - ватсап группа</p>
                                                <a href="#!" class="card-link">Ссылка</a>
                                                <a href="#!" class="card-link">Другая ссылка</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <h5>VIP</h5>
                                        <hr>
                                        <div class="card">
                                            <h5 class="card-header">230 000 тг</h5>
                                            <div class="card-body">
                                                <h5 class="card-title">ты норм чел</h5>
                                                <p class="card-text">1 консультация в начале, натаскивать к презентации (2 консультации), презентация, шаблон на классный БП ) - 5 часов 
                                                </p>
                                                <a href="#!" class="btn btn-primary">Кнопочка</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
